affine @ file:///Users/ktietz/demo/mc3/conda-bld/affine_1629890479180/work
aiohttp @ file:///C:/b/abs_c4zmy2l696/croot/aiohttp_1670009573673/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
appdirs==1.4.4
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-timeout @ file:///C:/b/abs_43ozhz2a8g/croots/recipe/async-timeout_1664876362767/work
attrs @ file:///C:/b/abs_09s3y775ra/croot/attrs_1668696195628/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
basemap==1.3.7
basemap-data==1.3.2
bokeh @ file:///C:/b/abs_d01xodyb9e/croot/bokeh_1684534031183/work
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
branca @ file:///C:/b/abs_5fic0q0ykh/croot/branca_1675157632359/work
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
Cartopy @ file:///D:/bld/cartopy_1679098141419/work
cdsapi @ file:///home/conda/feedstock_root/build_artifacts/cdsapi_1678999242909/work
certifi @ file:///C:/b/abs_4a0polqwty/croot/certifi_1683875377622/work/certifi
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
cftime @ file:///C:/b/abs_89e25yd05l/croot/cftime_1678830383263/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///C:/ci/click_1646038595831/work
click-plugins @ file:///Users/ktietz/demo/mc3/conda-bld/click-plugins_1630665883852/work
cligj==0.7.2
climfill @ git+https://github.com/climachine/climfill.git@d6b817c86941676b1c47c5b35f3a137cae322dc0
cloudpickle @ file:///C:/b/abs_3796yxesic/croot/cloudpickle_1683040098851/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
contourpy @ file:///C:/b/abs_d5rpy288vc/croots/recipe/contourpy_1663827418189/work
cryptography @ file:///C:/b/abs_b28tzldafl/croot/cryptography_1686613103834/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz @ file:///C:/b/abs_61m9vzb4qh/croot/cytoolz_1667465938275/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1688760352003/work
debugpy @ file:///C:/ci/debugpy_1637091961445/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1688766508643/work
docker-pycreds @ file:///Users/ktietz/demo/mc3/conda-bld/docker-pycreds_1630654474270/work
earthengine-api @ file:///home/conda/feedstock_root/build_artifacts/earthengine-api_1688141600935/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
filelock @ file:///C:/b/abs_c7yrhs9uz2/croot/filelock_1672387617533/work
Fiona==1.9.1
folium @ file:///C:/b/abs_da1gvm65eq/croot/folium_1675353720461/work
fonttools==4.25.0
frozenlist @ file:///C:/b/abs_2bb5uzghsi/croot/frozenlist_1670004511812/work
fsspec @ file:///C:/b/abs_f9arcwflp9/croot/fsspec_1682526006955/work
GDAL==3.6.4
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1624386157733/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1683384012847/work
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1668350868373/work
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///C:/b/abs_49tt462f1q/croot/gitpython_1674662788764/work
google-api-core @ file:///C:/b/abs_44bd4vwge2/croots/recipe/google-api-core_1663638617431/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1689110255530/work
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-httplib2 @ file:///home/conda/feedstock_root/build_artifacts/google-auth-httplib2_1654134467987/work
google-cloud-core @ file:///C:/b/abs_e8_rg8sal_/croot/google-cloud-core_1666887737629/work
google-cloud-storage @ file:///C:/b/abs_5fd00ftw7i/croot/google-cloud-storage_1668469648074/work
google-crc32c @ file:///C:/b/abs_f8g37ql__2/croot/google-crc32c_1667946622512/work
google-resumable-media @ file:///C:/b/abs_0fryx_awvc/croot/google-resumable-media_1668208116051/work
googleapis-common-protos @ file:///C:/Windows/TEMP/abs_f3kgqo235h/croots/recipe/googleapis-common-protos-feedstock_1660256147016/work
graphviz==0.20.1
grpcio @ file:///C:/b/abs_35nay_1l8s/croot/grpc-suite_1685746862992/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1679483503307/work
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
importlib-metadata @ file:///C:/b/abs_20ndzb2j6v/croot/importlib-metadata_1678997085534/work
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
ipykernel @ file:///D:/bld/ipykernel_1655369313836/work
ipython @ file:///C:/b/abs_d1yx5tjhli/croot/ipython_1680701887259/work
jedi @ file:///C:/ci/jedi_1644315428289/work
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
joblib @ file:///C:/b/abs_1anqjntpan/croot/joblib_1685113317150/work
jupyter_client @ file:///C:/b/abs_059idvdagk/croot/jupyter_client_1680171872444/work
jupyter_core @ file:///C:/b/abs_9d0ttho3bs/croot/jupyter_core_1679906581955/work
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
lmdb @ file:///C:/b/abs_556ronuvb2/croot/python-lmdb_1682522366268/work
locket @ file:///C:/ci/locket_1652904031364/work
lz4 @ file:///C:/b/abs_064u6aszy3/croot/lz4_1686057967376/work
mapclassify @ file:///C:/b/abs_0csw0bgpps/croot/mapclassify_1675157746442/work
MarkupSafe @ file:///C:/ci/markupsafe_1654508077284/work
matplotlib @ file:///C:/b/abs_49b2acwxd4/croot/matplotlib-suite_1679593486357/work
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661915841596/work
mkl-service==2.4.0
mpmath==1.2.1
msgpack @ file:///C:/ci/msgpack-python_1652329316214/work
multidict @ file:///C:/b/abs_6cx_8w3cv2/croot/multidict_1665674238352/work
munch @ file:///Users/ktietz/demo/mc3/conda-bld/munch_1630566382504/work
munkres==1.1.4
nest-asyncio @ file:///C:/b/abs_3a_4jsjlqu/croot/nest-asyncio_1672387322800/work
netCDF4 @ file:///D:/bld/netcdf4_1678981484690/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
numexpr @ file:///C:/b/abs_a7kbak88hk/croot/numexpr_1668713882979/work
numpy @ file:///D:/bld/numpy_1651020773031/work
-e git+https://github.com/Riccardo7-DS/Indices_analysis@f7bd4211398b92bdcd82f344c72f5159c23a4a19#egg=p_drought_indices
packaging @ file:///C:/b/abs_ed_kb9w6g4/croot/packaging_1678965418855/work
pandas @ file:///C:/b/abs_b9kefbuby2/croot/pandas_1677835593760/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pathtools @ file:///Users/ktietz/demo/mc3/conda-bld/pathtools_1629713893697/work
patsy==0.5.3
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///D:/bld/pillow_1680694338064/work
platformdirs @ file:///C:/b/abs_73cc5cz_1u/croots/recipe/platformdirs_1662711386458/work
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
prompt-toolkit @ file:///C:/b/abs_6coz5_9f2s/croot/prompt-toolkit_1672387908312/work
protobuf==3.20.3
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==11.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
pyOpenSSL @ file:///C:/b/abs_552w85x1jz/croot/pyopenssl_1677607703691/work
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
pyproj @ file:///D:/bld/pyproj_1680062206659/work
pyshp @ file:///tmp/build/80754af9/pyshp_1610641829514/work
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///C:/b/abs_22fofvpn1x/croot/pytz_1671698059864/work
pywin32==305.1
PyYAML==6.0
pyzmq @ file:///C:/b/abs_655zk4a3s8/croot/pyzmq_1686601465034/work
rasterio==1.3.6
regionmask @ file:///home/conda/feedstock_root/build_artifacts/regionmask_1685537583152/work
requests @ file:///C:/b/abs_41owkd5ymz/croot/requests_1682607524657/work
rioxarray @ file:///home/conda/feedstock_root/build_artifacts/rioxarray_1681506408124/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
Rtree @ file:///C:/b/abs_e116ltblik/croot/rtree_1675157871717/work
scikit-learn @ file:///C:/b/abs_38k7ridbgr/croot/scikit-learn_1684954723009/work
scipy==1.10.1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1672497695270/work
sentry-sdk @ file:///C:/Windows/TEMP/abs_b2h2c3fg3c/croots/recipe/sentry-sdk_1659784551322/work
setproctitle @ file:///C:/ci/setproctitle_1611524879470/work
shapely @ file:///D:/bld/shapely_1679081787218/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
snuggs @ file:///Users/ktietz/demo/mc3/conda-bld/snuggs_1629803886966/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels @ file:///C:/b/abs_bdqo3zaryj/croot/statsmodels_1676646249859/work
sympy @ file:///C:/b/abs_95fbf1z7n6/croot/sympy_1668202411612/work
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
toolz @ file:///C:/b/abs_cfvk6rc40d/croot/toolz_1667464080130/work
torch==2.0.1
torch-geometric @ file:///C:/Miniconda/envs/test/conda-bld/pyg_1679556594713/work
torchaudio==2.0.2
torchvision @ file:///C:/b/abs_88nq4vr9ec/croot/torchvision_1670313558208/work
torchviz==0.0.2
tornado @ file:///C:/ci/tornado_1662458743919/work
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
traitlets @ file:///C:/b/abs_e5m_xjjl94/croot/traitlets_1671143896266/work
typing_extensions @ file:///C:/b/abs_5em9ekwz24/croot/typing_extensions_1686602003259/work
uritemplate @ file:///home/conda/feedstock_root/build_artifacts/uritemplate_1634152692041/work
urllib3 @ file:///C:/b/abs_889_loyqv4/croot/urllib3_1686163174463/work
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1688654456235/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1682081841683/work
xyzservices @ file:///C:/b/abs_8bh3h2qh76/croot/xyzservices_1675159066824/work
yarl @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_e5nlunspj6/croots/recipe/yarl_1661437086516/work
zict @ file:///C:/b/abs_fc7elavmem/croot/zict_1682698759288/work
zipp @ file:///C:/b/abs_b9jfdr908q/croot/zipp_1672387552360/work
